<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.vasconcedu.iahaa1">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission android:name="IAHAA1_LIFE_SECRETS_PROVIDER_PERMISSION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name=".LifeSecretsProvider"
            android:authorities="xyz.vasconcedu.iahaa1.lifesecrets"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true"
            android:permission="IAHAA1_LIFE_SECRETS_PROVIDER_PERMISSION" />

        <activity
            android:name=".CheckPasswordActivity"
            android:exported="true" />
        <activity android:name=".CallForAdviceActivity"
            android:exported="true"></activity>
        <activity android:name=".SetPasswordActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>